main.test{

    h1{
        margin: 1em 2em;
        @include font-size(2rem);

        &::after{
            content: '🠗';
            margin: .5em .5em 0;
            display: block;
        }
    }

    .kolonlar-satirlar{
        
        .kolonlar > * ,
        .satirlar > *{
            background-color: $mor;
            color: $beyaz;
        }
    }
}