@function kes(){
    $test: flex-row__justify-content-center__a;
    $son_kelime: null;
    $sonuc: null;
    $uzunluk : str-length($test); //4
    @for $i from 1 through $uzunluk {
        $a: str-slice($test, $i, $i);
        @if $a == "_"{
            $son_kelime: $i;
            $kelime: str-slice($test, -$uzunluk, $son_kelime - 2);
            $sonuc:#{$kelime};

            @for $j from $son_kelime through 1{
                $a: str-slice($test, $i, $i);
            }
        }
    }
    @return $sonuc;
}

@mixin test {
    $t : kes();
    gap: $t;
}

a{
    @include test();
}