/* p{
    @include flex(
        $flex-direction: row,
        $gap: 1em,
        $justify-content: center,
    );

    @include break-point(pc){
        @include flex(
            $flex-direction: column,
            $gap: 2em,
            $justify-content: flex-start,
        );
    }
} */

a{
    @include flex(){
        flex-direction: column; 
    }
}