@mixin break-point($veri) {
    $veri-tipi: type-of($veri);
    $break-point: null;
    
    @if $veri-tipi == number{
        @media screen and (max-width: #{$veri}) {
            @content;
        }
    }@else if $veri-tipi == string{
        
        @each $deger, $index in $points{
            @if $veri == $deger{
                $break-point: $index;
            }
        }
        
        @if $break-point != null {
            @media screen and (max-width: #{$break-point}#{$prefix}) {
                @content;
            }
        } @else {
            @warn "Hatalı breakpoint değeri";
            /* 
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                Hatalı breakpoint değeri 
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            */
        }
    }
}

/* 
    @mixin flex($degerler...) {
        @debug meta.keywords($degerler);

        display: flex;
        @each $ozellik, $deger in meta.keywords($degerler) {
            # {$ozellik}: $deger; // baştaki boşluğu kaldır açarken
        }
    } 
*/

@mixin flex {
    display: flex;
    @content;
}