// Break Point
@mixin break-point($veri, $tip: max) {
    $veri-tipi: type-of($veri);
    $break-point: null;
    
    @if $veri-tipi == number{
        @media screen and (#{$tip}-width: #{$veri}) {
            @content;
        }
    }@else if $veri-tipi == string{
        
        @each $deger, $index in $points{
            @if $veri == $deger{
                $break-point: $index;
            }
        }
        
        @if $break-point != null {
            @media screen and (#{$tip}-width: #{$break-point}#{$prefix}) {
                @content;
            }
        } @else {
            @warn "Hatalı breakpoint değeri";
            /* 
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                Hatalı breakpoint değeri 
                !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
            */
        }
    }
}
// Break Point SON


// Tema
@mixin tema($tema: "default") {
    $element: #{&};
    @at-root html[data-theme=#{$tema}] #{$element} {
        @content;
    }
}
// Tema SON

// Font Size
@mixin fs($size, $rem: 1) {
    font-size: $size * 1px;
    font-size: em-hesapla($size, $rem);
}
// Font Size SON


// Font Face
@mixin font-face($name, $file) {
    @font-face {
        font-family: "#{$name}";
        src: url("../fonts/#{$file}.eot");
        src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
        url("../fonts/#{$file}.woff") format("woff"),
        url("../fonts/#{$file}.ttf") format("truetype"),
        url("../fonts/#{$file}.svg?#webfont") format("svg");
    }
}
// Font Face SON