// Flex
%flex{
    display: flex;
}

%flex-row{
    @extend %flex;
    flex-direction: row;
}

%flex-column{
    @extend %flex;
    flex-direction: column;
}

%flex-center {
    @extend %flex;
    align-items: center;
    justify-content: center;
}

%flex-center-clumn {
    @extend %flex-column;
    align-items: center;
    justify-content: center;
}

%flex-center-row {
    @extend %flex-row;
    align-items: center;
    justify-content: center;
}
// Flex SON

%cover-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}