// minireset.css v0.0.6
// (https://github.com/jgthms/minireset.css)
// Projeye uyarladım

/* Reset */

// Blocklar
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

// Başlıklar
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

// Listeler
ul {
	list-style: none;
}

// Form Elemanları
button,
input,
select,
textarea {
	font-weight: normal;
}

// Genel
img,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}
/* Reset SON */
