@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700");

* {
	font-family: "Fira Code";
	line-height: 1.5;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	&::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.54;
	}
}

html {
	font-size: 16px;

	@include medya(lg) {
		font-size: 14px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	text-transform: capitalize;
}

/* 
	https://type-scale.com/
	1.250 Major Third
*/
$font-boyutlari: (
	1: 3.815,
	2: 3.052,
	3: 2.441,
	4: 1.953,
	5: 1.563,
	6: 1.25,
);

@each $font-numarasi, $font-degeri in $font-boyutlari {
	h#{$font-numarasi} {
		@include font-size($font-degeri * 1rem);
	}
}

p {
	@include font-size(1rem);
}

label {
	@include font-size(0.875rem);
}

span {
	font-size: inherit;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

code {
	font-family: monospace, monospace;
	@include font-size(1em);
}

button,
input,
select,
textarea {
	font-weight: normal;
}
