@import url("https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700");

* {
	font-family: "Fira Code";
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}