/* Butonlar */
%buton {
	@include padding(0.5rem 1rem);
	@include margin(0.5rem);
	@include font-size(1rem);
	line-height: 1.5;
	display: inline-flex;
	justify-content: center;
	white-space: nowrap;
	text-decoration: none;
	text-transform: capitalize;
	outline: none;
	border: 1px solid transparent;
	background-color: $mor;
	color: $beyaz;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
}

.buton {
	@extend %buton;

	&.--tip-2 {
		background-color: transparent;
		border-color: $mor;
		color: $mor;
		&.--pasif{
			background-color: transparent;
			color: $mor-pasif;
		}
		&:not(.--pasif):hover {
			background-color: $mor;
			color: $beyaz;
		}
	}

	&.--pasif {
		cursor: not-allowed;
		background-color: $mor-pasif;
		color: $beyaz;
		border-color: $mor-pasif;
	}

	&.--hayalet {
		color: $mor;
		background-color: transparent;
		border-color: transparent;
		&.--pasif{
			color: $mor-pasif;
		}
		&:not(.--pasif):hover {
			border-color: $mor;
		}
	}

	&.--buyuk {
		@include padding(0.76rem 1.25rem);
		@include font-size(20px);
	}

	&.--aktif,
	&:not(.--pasif):not(.--tip-2):not(.--hayalet):not(.--link):hover {
		background-color: $mor-aktif;
		color: $beyaz;
	}

	&.--link {
		color: blue;
		background-color: transparent;
		&:hover {
			color: blueviolet;
			text-decoration: underline;
			background-color: transparent;
		}
		&.--pasif {
			text-decoration: none;
			color: $mor-pasif;
			border-color: transparent;
		}
	}
}
/* Butonlar SON */
