/* Butonlar */
.buton {
	@include padding(0.5rem 1rem);
	@include margin(0.5rem);
	@include font-size(1.2rem);
	display: inline-flex;
	justify-content: center;
	white-space: nowrap;
	text-decoration: none;
	text-transform: capitalize;
	outline: none;
	border: 1px solid transparent;
	background-color: $mor;
	color: $beyaz;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;

	&:hover {
		background-color: $mor-aktif;
	}

	&#{&}--2 {
		background-color: transparent !important;
		color: $mor;
		border-color: currentColor !important;

		&:hover {
			color: $mor-aktif;
		}
	}

	&#{&}--hayalet {
		background-color: transparent !important;
		color: $mor;

		&:hover {
			color: $mor-aktif;
			border-color: currentColor;
		}
	}

	&#{&}--link {
		background-color: transparent !important;
		color: $mor;

		&:hover {
			color: $mor-aktif;
		}
	}

	&#{&}--buyuk{
		@include font-size(1.5rem);
	}
}
/* Butonlar SON */
