/* Butonlar */
%pasif-buton{
    --mor: #{$mor-pasif};
    cursor: not-allowed;
}

.--buton{
    @include padding(.5rem 1rem);
    @include margin(.5rem);
    @include font-size(1rem);
    line-height: 1.5;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: capitalize;
    background-color: $mor;
    outline: none;
    border: none;
    color: $beyaz;
    cursor: pointer;
    user-select: none;
    
    &.--tip-2{
        background-color: $beyaz;
        border: 1px solid $mor;
        color: $mor;

        &.--pasif{
            @extend %pasif-buton;
            border: 1px solid var(--mor);
            color: var(--mor);
            background-color: $beyaz;
        }

        &:not(.--pasif):not(.--hayalet):hover{
            background-color: $mor;
            color: $beyaz;
        }
    }

    &.--hayalet{
        @extend .--tip-2;
        border: none;
        background-color: transparent;
    }

    &.--pasif{
        @extend %pasif-buton;
        background-color: var(--mor);
    }

    &.--buyuk{
        @include padding(.76rem 1.25rem);
        @include font-size(20px);
    }

    &.--aktif,
    &:not(.--pasif):not(.--tip-2):not(.--hayalet):hover{
        background-color: $mor-aktif;
        color: $beyaz;
    }
}
/* Butonlar SON */