.cerez-popup {
	@include margin(2rem);
	@include padding(1rem 2rem);
	@include flex-row;
	@extend %golge;

	position: fixed;
	bottom: 0;
	right: 0;
	background-color: $no-js__arkaplan;
	border-right: 3px solid $mor;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	gap: 1em;


	@include medya(xl) {
		bottom: 1em;
		right: 1em;
		left: 1em;
		margin: 0;
		justify-content: center;
		border-right: none;
		border-top: 3px solid $mor;
	}

	&__butonlar {
		@include flex-center-row;
		flex-wrap: wrap;
	}

	&__icerik {
		@include font-size(1rem);

		width: 100%;
		max-width: 30em;
		color: black;
		text-decoration: none;

		@include medya(md) {
			text-align: center;
		}

		p {
			text-indent: 0.6em;
			width: 100%;
		}

		span {
			@include padding(0.1rem 0);
			@include margin-top(0.5rem);

			text-transform: capitalize;
			display: inline-block;
			color: $mor;
			border-bottom: 1px solid transparent;
			transition: none;
		}

		&:hover {
			span {
				border-bottom-color: $mor;
			}
		}
	}
}
