/* Hero Slider */
.__hero-slider {
	@include font-size(3.5rem);
	@include margin(2rem 0);
	font-weight: 600;
	width: 100%;
	overflow: hidden;
	position: relative;

	@include medya(tablet) {
		@include font-size(2.5rem);
		@include margin-top(3rem);
	}

	.__icerik {
		width: 200vw;
		white-space: nowrap;
		@include flex-center-row;
		height: 2.1ch;
	}

	.__yazi {
		display: inline-block;
		text-align: center;
		width: calc(100% / 7);
		min-width: 8em;
		position: relative;
		left: -30%;
		cursor: default;
		user-select: none;
		animation-name: hero-animasyon;
		animation-duration: 15s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;

		@include medya(tablet) {
			width: fit-content;
			min-width: initial;
			@include padding(0 1rem);
		}
	}

	&.--duraklat {
		.__yazi {
			animation-name: none !important;
		}
	}

	&.--ters-yon {
		.__yazi {
			left: -10%;
			animation-name: hero-animasyon--ters-yon;
		}
	}

	&.--capraz {
		display: flex;
		@include padding-top(0);
		@include padding-bottom(4.5rem);
		align-items: center;
		height: 20rem;
		@include font-size(5rem);
		color: transparent;
		height: 10rem;
		-webkit-text-stroke: 1px black;

		.__icerik {
			transform: rotate(-2deg);
		}
	}

	&.--capraz.--ters-yon {
		@include padding-bottom(0);
		@include padding-top(4.5rem);

		.__icerik {
			transform: rotate(2deg);
		}
	}

	@keyframes hero-animasyon--ters-yon {
		to {
			transform: translateX(-100%);
		}
	}

	@keyframes hero-animasyon {
		to {
			transform: translateX(100%);
		}
	}
}
/* Hero Slider SON */
