.kolonlar {
	width: 100%;
	@include flex-row;
	@include padding(1rem);
	gap: 1em;
	flex-wrap: nowrap;

	@include medya(lg) {
		@include padding(0.5rem);
		gap: 0.5rem;
		@include flex-column;
	}

	&__kolon {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}

	&__kolon + &__kolon {
		margin-top: 1rem;
		@include medya(lg) {
			margin-top: 0.5rem;
		}
	}

	img {
		width: 100%;
	}

	@for $i from 1 to 6 {
		&--kolon-#{$i} {
			display: block;
			columns: calc(15em - #{$i} * 1em) #{$i};

			> *:not(p) {
				display: inline-block;
				width: 100%;
				min-width: fit-content;
			}
		}

		&--kirilma {
			> * {
				break-inside: avoid;
				page-break-inside: avoid;
			}
		}
	}
}
