.loader {
	position: fixed;
	inset: 0;
	bottom: 0;
	background-color: $beyaz;
	display: grid;
	place-content: center;
	overflow: hidden;
	transition: all 200ms ease-out;
	user-select: none;
	pointer-events: all;
	clip-path: circle(100% at 50% 50%);

	&[kapat] {
		animation: kapat 1s cubic-bezier(0.19, 1, 0.22, 1);
		animation-fill-mode: forwards;
		pointer-events: all;
	}

	&[kapat] &__spinner {
		opacity: 0;
	}

	@keyframes kapat {
		0% {
			clip-path: circle(100% at 50% 50%);
		}
		100% {
			clip-path: circle(0% at 50% 50%);
		}
	}

	&__spinner {
		width: 10rem;
		height: 10rem;
		background: transparent;
		@include flex-row;
		justify-content: center;
		align-items: center;
		opacity: 1;
		transition: all 250ms ease-out;
		position: relative;

		&::after {
			content: "";
			border-radius: 50%;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: $siyah;
			animation: pulse 1.2s infinite;
			animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
		}

		img {
			width: 100%;
			max-height: 100%;
		}
	}

	@keyframes pulse {
		0%{
			background-color: $siyah;
			transform: scale(0);
		}
		100% {
			background-color: #0000;
			transform: scale(1);
		}
	}
}
