.no-js {
	position: fixed;
	top: 0;
	right: 0;
	background-color: $no-js__arkaplan;
	border-right: 3px solid $no-js__border;
	max-width: 50em;
	align-content: stretch;

	@include margin(1rem 2rem);
	@extend %golge;
	@include flex;

	@include medya(md) {
		@include flex-column;
		justify-content: center;
		align-items: center;
	}

	&__ikon {
		display: flex;
		width: fit-content;
		height: fit-content;
		justify-content: center;

		@include min-medya(md) {
			align-self: stretch;
		}

		ion-icon {
			width: 7rem;
			height: 7rem;
			color: $mor;

			@include medya(md) {
				width: 5rem;
				height: 5rem;
			}
		}

		@include medya(md) {
			background-color: transparent;
		}
	}

	&__icerik {
		@include padding(1rem 1.5rem);

		@include medya(md) {
			@include padding(0.5rem 1rem);
		}

		display: flex;
		align-items: center;

		p {
			@include font-size(1rem);
			text-indent: 0.6em;
			color: $metin;

			@include medya(md){
				text-align: center;
			}
		}
	}

	@include medya(xl) {
		border-right: none;
		margin: 0;
		border-top: 3px solid $no-js__border;
		top: 1em;
		left: 1em;
		right: 1em;
		max-width: none;
	}

	@include medya(md) {
		border-radius: 0;
	}
}
