// Flex
@mixin flex {
	display: flex;
}

@mixin flex-center {
	align-items: center;
	align-content: center;
	justify-content: center;
}

@mixin flex-start {
	align-items: center;
	align-content: center;
	justify-content: center;
}

@mixin flex-end {
	align-items: center;
	align-content: center;
	justify-content: center;
}

@mixin flex-row {
	@include flex;
	flex-direction: row;
}

@mixin flex-column {
	@include flex;
	flex-direction: column;
}

@mixin flex-center-row {
	@include flex-row;
	@include flex-center;
}

@mixin flex-start-row {
	@include flex-row;
	@include flex-start;
}

@mixin flex-end-row {
	@include flex-row;
	@include flex-end;
}

@mixin flex-center-column {
	@include flex-column;
	@include flex-center;
}

@mixin flex-start-column {
	@include flex-column;
	@include flex-start;
}

@mixin flex-end-column {
	@include flex-column;
	@include flex-end;
}