// Media

// Hazır ayarlar
$boyutlar: (
	"pc": 1200,
	"laptop": 992,
	"tablet": 768,
	"telefon": 576,
) !default;

@mixin medya($veri, $tip: max, $prefix: px) {
	$veri-tipi: type-of($veri);
	$break-point: null;

	@if $veri-tipi == number {
		@media screen and (#{$tip}-width: #{$veri}) {
			@content;
		}
	} @else if $veri-tipi == string {
		@each $deger, $index in $boyutlar {
			@if $veri == $deger {
				$break-point: $index;
			}
		}

		@if $break-point != null {
			@media screen and (#{$tip}-width: #{$break-point}#{$prefix}) {
				@content;
			}
		} @else {
			@error "Hatalı breakpoint değeri: #{$veri}";
		}
	}
}

// Medya için kısayollar
@mixin max-medya($veri) {
	@include medya($veri, max){
		@content;
	};
}

@mixin min-medya($veri) {
	@include medya($veri, min){
		@content;
	};
}


// Tema
@mixin tema($tema: "default") {
	$element: #{&};
	@at-root html[data-theme="#{$tema}"] #{$element} {
		@content;
	}
}

// Font Face
@mixin font-face($name, $file) {
	@font-face {
		font-family: "#{$name}";
		src: url("../fonts/#{$file}.eot");
		src: url("../fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
			url("../fonts/#{$file}.woff") format("woff"),
			url("../fonts/#{$file}.ttf") format("truetype"),
			url("../fonts/#{$file}.svg?#webfont") format("svg");
	}
}

// Genel
@mixin background(
	$url,
	$size: cover,
	$position: center,
	$repeat: no-repeat,
	$test: null
) {
	background-image: $url;
	background-repeat: $repeat;
	background-size: $size;
	background-position: $position;
	@if $test != null {
		background-color: $test;
	}
}

@mixin text-truncate($satir: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $satir;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Flex
@mixin flex {
	display: flex;
}

@mixin flex-center {
	align-items: center;
	align-content: center;
	justify-content: center;
}

@mixin flex-row {
	@include flex;
	flex-direction: row;
}

@mixin flex-column {
	@include flex;
	flex-direction: column;
}

@mixin flex-center-row {
	@include flex-row;
	@include flex-center;
}

@mixin flex-center-column {
	@include flex-column;
	@include flex-center;
}
