// Tema
@mixin tema($tema: "default") {
	@at-root html[data-theme="#{$tema}"] #{&} {
		@content;
	}
}

// Font Face
@mixin font-face($font-ismi, $dosya-ismi) {
	@font-face {
		font-family: "#{$font-ismi}";
		src: url("../fonts/#{$dosya-ismi}.eot");
		src: url("../fonts/#{$dosya-ismi}.eot?#iefix") format("embedded-opentype"),
			url("../fonts/#{$dosya-ismi}.woff") format("woff"),
			url("../fonts/#{$dosya-ismi}.ttf") format("truetype"),
			url("../fonts/#{$dosya-ismi}.svg?#webfont") format("svg");
	}
}

// Arkaplan 
@mixin arkaplan(
	$url,
	$size: cover,
	$position: center,
	$repeat: no-repeat,
) {
	background-image: $url;
	background-size: $size;
	background-position: $position;
	background-repeat: $repeat;
}

// Truncate
@mixin truncate($max-satir: 2) {
	display: -webkit-box;
	-webkit-line-clamp: $max-satir;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

// Animasyon
@mixin animasyon($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}