// Genel
$beyaz: #ffffff !default;
$siyah: #000000 !default;
$kirmizi: red !default;
$mor: #5900ff !default;
$mor-pasif: lighten($mor, $amount: 30%) !default;
$mor-aktif: darken($mor, $amount: 15%) !default;

// No Js
$no-js__border: $mor-aktif !default;
$no-js__arkaplan: #f9faff !default;
$no-js__yazi: #130022 !default;

// Modal
$modal-arkaplan: rgba($siyah, 0.5) !default;