.kart {
    font-size: 1em;
    max-width: 18em;
    max-height: 28em;
    margin: 1em;
    overflow: hidden;
    display: inline-block;

    &.--kapla{
        max-width: none;
        max-height: none;
    }

    @include media(telefon) {
        width: 100%;
    }

    &.--oval{
        border-radius: 10px;
    }

    > .__gorsel {
        width: 100%;
        height: 100%;
        
        &.--gorsel{
            &-contain{
                object-fit: contain;
            }
            &-cover{
                object-fit: cover;
            }
            &-fill{
                object-fit: fill;
            }
            &-scale-down{
                object-fit: scale-down;
            }
        }
    }
}
